<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">


        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"><br /></div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-dashboard"></i><b>D</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Fleetboard</span>
                </a>

            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-user"></i><b>U</b></span>
                    <span class="pcoded-mtext">Users</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">

                    <li class=" ">
                        <a href="@Url.Content("~/User/Customer")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Customers</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/User/Staff")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.page_layout.horizontal.main">Staffs</span>

                        </a>

                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/User/Driver")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.page_layout.bottom-menu">Drivers</span>

                        </a>
                    </li>


                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-car"></i><b>V</b></span>
                    <span class="pcoded-mtext">Vehicles</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">

                    <li class=" ">
                        <a href="@Url.Content("~/Vehicle")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">All</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/Vehicle/Available")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.page_layout.horizontal.main">Available</span>

                        </a>

                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/Vehicle/Allocated")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.page_layout.bottom-menu">Allocated</span>

                        </a>
                    </li>


                </ul>
            </li>
           

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-settings"></i><b>V</b></span>
                    <span class="pcoded-mtext">Settings</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">

                    <li class=" ">
                        <a href="@Url.Content("~/VehicleGroup")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Vehicle Group</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/VehicleType")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Vehicle Type</span>

                        </a>

                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/Shop")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Shop</span>

                        </a>
                    </li>

                    <li class=" ">
                        <a href="@Url.Content("~/AutoBrand")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">AutoBrand</span>

                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/Insurance")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Insurance</span>

                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Content("~/ServiceParts")">
                            <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Service & Parts</span>

                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="@Url.Content("~/Help")">
                    <span class="pcoded-micon"><i class="ti-headphone-alt"></i><b>D</b></span>
                    <span class="pcoded-mtext">Help</span>

                </a>
            </li>
        </ul>

    </div>
</nav>
