@model IEnumerable<GoogFleet.Models.VehicleGroup_T>

@{
    ViewBag.Title = "Index";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-cop-badge bg-c-pink card1-icon"></i>
                <div class="d-inline">
                    <h4>Vehicle Group</h4>
                    <span>Create Vehicle Groups like Local Customers, Higher Management Staff, Food Delivery Drivers etc. <br />
                    This helps to categorize your reports or filter the listing on vehicle search.</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" data-toggle="modal" href="#VehicleGroupModal"><i class="icofont icofont-ui-add"></i>Add Vehicle Group</button>
        </div>
    </div>
</div>


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-block">


                    <table class="table">

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleGroup)
                                </td>
                                <td>
                          
                                    <a onclick="openrow(@item.VehicleGroupID)" style="cursor:pointer" class="pcoded-badge label label-warning"><i class="fa fa-pencil"></i> Edit</a>

                                </td>
                            </tr>
                            using (Html.BeginForm("Edit", "VehicleGroup"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <tr id="edit-@item.VehicleGroupID" class="editrow">
                                    <td>
                                        <input class="form-control cke_required" type="text" name="VehicleGroup" value="@item.VehicleGroup" />
                                        <input type="hidden" name="VehicleGroupID" value="@item.VehicleGroupID" />
                                        <input type="hidden" name="FleetCompanyID" value="@Session["FleetCompanyID"]" />
                                    </td>
                                    <td>
 
                                        <button class="pcoded-badge label label-success"><i class="fa fa-check"></i> Update</button>
                                    </td>
                                </tr>
                            }
                        }




                    </table>


                </div>
            </div>
        </div>

    </div>


</div>


<script>
    $(document).ready(function () { $(".editrow").hide(); });
    function openrow(row) { $("#edit-" + row).show(2000); }
</script>
 
<div class="modal fade modal-dialog-center" id="VehicleGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Vehicle Group</h4>
                </div>

                @using (Html.BeginForm("Create", "VehicleGroup"))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">


                      

                        <div class="form-horizontal">

                          

                            <div class="form-group">

                                <div class="col-md-10">
                                    Vehicle Group<br />
                                    <input type="text" class="form-control" name="VehicleGroup" />
                                    <input type="hidden" name="FleetCompanyID" value="@Session["FleetCompanyID"]" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>


                    </div>
                    <br style="clear:both" />
                    <div class="modal-footer">

                    </div>
                }
            </div>
        </div>
    </div>
</div>





